@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&display=swap');
body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url('helper.jpg');
    background-size: cover;
}


.header{
    
    display: flex;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    /* border: 2px solid red; */
    align-items: center;

}

.logo{
    margin-top: 50px;

    padding: 3%;
    font-size: 50px;
    color: rgb(255, 242, 222);
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;


}

.logo span{
    color: #44baff;
}




.nav{
    margin-top: 50px;
    display: flex;
    font-size: 28px;
    font-weight: 400;
    /* border: 2px solid red; */
    align-items: center;
    height: 8vh;

    border-radius: 20px;

    
}

.nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.3s;
    padding: 5px 20px;
    margin-left: 20px;
    transition: 0.3s;
    font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
}


.nav a:hover{
    border: 2px solid rgb(0, 41, 82);
    border-radius: 10px ;

    color:  rgb(0, 208, 239);
    
}

.container{
    /* border: 20px solid red; */

    width: fit-content;
    margin-top: 100px;
    margin-left: 100px;
    font-size: 28px;
    font-weight: 600;
    color: azure;
}

.form{
    border: 20px solid red;
}
