body {
    background-image: url('background.jpeg');
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: flex-start; /* Aligns content to the left */
    align-items: flex-start; /* Aligns content to the top */
    height: 100vh;
    margin: 0;
    padding: 20px;
}

.container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px; /* Padding for the container */
    border-radius: 20px; /* Border radius for the container */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 60%; /* Width of the container */
    max-width: 600px; /* Maximum width of the container */
    align-self: flex-start;
    margin-left: 40px; /* Margin from the left */
}

.form-group {
    margin-bottom: 25px; /* Margin between form groups */
    font-size: 20px; /* Font size for form controls */
    display: flex;
    flex-direction: column; /* Aligns input below the labels */
}

h2{
    font-size : 35px;
}

label {
    font-size: 20px; /* Font size for labels */
    margin-bottom: 10px; /* Margin below the label */
}

.form-control {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-bottom: 2px solid #fff;
    border-radius: 0;
    color: #fff;
    font-size: 20px; /* Font size for form controls */
}

.btn-primary {
    background-color: #4CAF50;
    border: none;
    border-radius: 8px; /* Border radius for the button */
    padding: 15px 30px; /* Padding for the button */
    cursor: pointer;
    font-size: 20px; /* Font size for the button */
}

.btn-primary:hover {
    background-color: #45a049;
}
