<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salary vs Years of Experience</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="static/insights.css">
</head>
<body>
    <div class="header">
        <a href="#" class="logo">Project <span>Monday</span></a>
        <div class="nav">
            <a href="/">Home</a>
            <a href="/predict">Predictor</a>
            <a href="#">Scope</a>
            <a href="/insights">Insights</a>
        </div>
    </div>
    <div class="container">
        <h1>Salary vs Years of Experience</h1>
        <div class="input-container">
            <label for="jobTitle">Job Title:</label>
            <input type="text" id="jobTitle" name="jobTitle" placeholder="Ex.Web Developer">
            <button onclick="plotChart()">Plot</button>
        </div>
        <canvas id="myChart" width="800" height="400"></canvas>
    </div>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
